body { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }

.inventory{
    background-color: #262a2e;
    color: #fff;
}

.inventory-switch {
    margin-left: 82%;
    padding-top: 12px;
}

.inventory-card {
    border: 1px solid #ccc;      
    background-color: #5e885e;    
    border-radius: 10px;        
    padding: 20px;               
    width: 23%;                   
    text-align: center;           
    color: #fff;                 
    font-size: 16px;             
    font-weight: 600;            
    margin-bottom: 15px;          
    transition: box-shadow 0.3s ease;  
  }
  
  .product-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Shadow on hover for elevation */
  }
  
  .d-flex {
    gap: 10px;                    /* Add spacing between cards */
  }
  

  