.customTable {
    background-color: #f8f9fa; 
    color: #343a40;
    border: 2px solid #ced4da; 
  }
  
  .customTable thead {
    background-color: #343a40; 
    color: white; 
  }
  
  .customTable tbody tr {
    background-color: #ffffff; 
  }
  
  .customTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .customTable td {
    padding: 10px;
  }
  
  .customTable td button {
    padding: 5px;
    margin-right: 5px;
  }
  
  .customThead {
    text-align: center;
    font-weight: bold;
  }
  